<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wardrobe</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header><h1>Wardrobe</h1></header>
    <main>
        <table id="wardrobe-items"></table>
        <form id="add-clothing">
            <input type="text" id="item-name" placeholder="Item Name" required>
            <button type="submit">Add</button>
        </form>
    </main>
    <script src="/static/js/script.js"></script>
</body>
</html>
